header{
    display: flex;
    justify-content: center;
    padding: 50px;
}

header img{
    width: 300px;
    height: 300px;
}

body{
    background-color: #56e1ef;
}

h1{
    font-size: xx-large;
    margin-left: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

h1 img{
    height: 70px;
    margin: 0px 50px;
}

h2{
    font-size: x-large;
    margin: 5px 5px 30px 5px;
    text-align: center;
}

main{
    text-align: justify;
}

main p{
    text-indent: 3em;
    line-height: 25px;
    font-size: large;
    color: #293a3f;
}

.cards{
    display: flex;
    justify-content: center;
}

.sobreMim img, .analise img{
    width: 400px;
    height: 400px;
    margin: 0px 50px;
    border-radius: 50px;
}

.infos{
    margin: 5% 15%;
}

.sobreMim, .analise{
    display: flex;
    justify-content: left;
}

li{
    line-height: 20px;
    margin: 10px;
    font-size: large;
    color: #293a3f;
}

.cards section{
    margin: 15px;
    padding: 30px;
    width: 25%;
    background-image: linear-gradient(#5AA6BE 60%,#457F92 100%);
    border-radius: 50px;
    box-shadow: 10px 10px 15px #023469;
}

.cards section img{
    width: 100%;
    border-radius: 20px;
}

footer{
    padding: 15px;
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}

footer img{
    width: 35%;
    margin: 30px;
}

.contato{
    display: flex;
    border: 15px;
    margin: 15px
}

.contato p{
    padding-left: 15px;
    color: black;
}

a{
    text-decoration: none;
}

